@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@font-face {
    font-family: "TrueLies";
    src: url('../fonts/true-lies/tr.ttf');
}

:root{
    --primary-color:#F9786F;
    --dark-color:#1e1e1e;
}

::placeholder {
    margin: 1rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

body,html{
    color:#fff;
    background:#1e1e1e;
    -webkit-font-smoothing: antialiased;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}



.progress-container{
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 1%;
    transform: translate(1%,-50%);
}

.progress {
    display: block;
    margin: auto;
    position: relative;
    padding: 0 1rem 0 3.5rem;
    margin: 2rem 0 0;
    list-style: none;
}

.line{
    content: "";
    position: relative;
    left: -1.7rem;
    height: 30vh;
    width: 1px;
    border-left: 1px solid #F9786F;
}

.progress__item {
    position: relative;
    min-height: 5vh;
    counter-increment: list;
}

.progress__item_final {
    position: relative;
    counter-increment: list;
}

.progress__item:before {
    content: "";
    position: absolute;
    left: -1.7rem;
    top: 33px;
    height: 50%;
    width: 1px;
    border-left: 1px solid #F9786F;
}

progress__item:before:last-child {
    content: "";
    position: absolute;
    left: -1.7rem;
    top: 33px;
    height: 0%;
    width: 1px;
    border-left: 1px solid #F9786F;
}

.progress-circle{
    content: counter(list);
    position: absolute;
    top: 0;
    left: -2.5rem;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    border: 1px solid #F9786F;
}

.progress__title{
    font-family: 'Open Sans';
    padding-top:0.3rem;
}

.progress-item-active{
    background: #F9786F;
}


.nav{
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    height:90px;
    z-index: 2;
}

.min-nav{
    position: fixed;
    width: 100%;
    text-align: left;
    height:90px;
    z-index: 99;
    padding-top: 2rem;
    display: none;
}

.nav-content{
    visibility: hidden;
    background: #1e1e1e;
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 1fr;
}

.nav-content a{
    padding: 1rem;
    border-bottom: 1px solid #fefefe;
}

.nav a{
    font-family: 'Open Sans';
    font-size: 1.3rem;
    margin: 0 2rem 0 2rem;
}

.showcase{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../images/jager_r6_siege_wallpaper_27_31_by_keyholestyle_db9nr5u-pre.jpg") no-repeat center center/cover;
}

.showcase::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.8);
}

.showcase-grid{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: url("../images/gridtile.png");
}

.showcase-grid-content-one{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.showcase-grid-content-two{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
}


.showcase-layer-one{
    width: 100%;
    height: 12rem;
    position: relative;
    top: 30%;
}

.showcase-layer-two{
    width: 100%;
    height: 2rem;
    position: relative;
    top: 55%;
}

.showcase-layer-one-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.showcase-layer-two-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.showcase-name{
    width: 100%;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    font-size: 11rem;
    letter-spacing: 2rem;
    padding-right: 32rem;
    line-height: 11.5rem;
    color: rgb(255, 255, 255);
    font-family: "TrueLies";
}

.showcase-name-secondary{
    width: 100%;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    font-size: 11rem;
    padding-left: 126px;
    line-height: 11.5rem;
    color: rgb(255, 255, 255);
    letter-spacing: 2rem;
    font-family: "TrueLies";
    color: var(--primary-color);
}

.showcase-text{
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    font-size: 2.5rem;
    line-height: 6rem;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    letter-spacing: 0.5rem;
}

.showcase-text span{
    padding: 0.7rem;
}

.layer-two-content-text-1{
    color: var(--primary-color);
    font-weight: 800;
}

.layer-two-content-text-2{
    color: var(--primary-color);
    font-weight: 300;
}

.layer-two-content-text-3{
    font-weight: 300;
}

.layer-two-content-text-4{
    font-weight: 800;
}

.chevron-container{
    width: 100%;
    height: 2rem;
    position: relative;
    top: 80%;
    z-index: 2;
}

.chevron-container img{
    width: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: bounce 2s infinite;
}

.tours{
    background: url("https://cdn.vox-cdn.com/thumbor/JTtZbdl6be7SgmQhK2hpia33AfU=/0x0:1600x863/1200x675/filters:focal(667x70:923x326)/cdn.vox-cdn.com/uploads/chorus_image/image/63331665/rainbow_six_siege_elite_skins_hero.0.jpg") no-repeat center center/cover;
    width: 100%;
    margin: 0 0;
    text-align: center;
    align-content: center;
}

.wrapper{
    padding: 5rem 0rem;
    height: 100%;
    background: rgba(0,0,0,0.8);
}


.tour-content{
    padding: 0rem 3rem;
}

.header{
    font-size: 5rem;
}

.tour-header-text-1{
    font-family: "TrueLies";
    margin-left: -9rem;
    color: #fefefe;
}

.tour-header-text-2{
    font-family: "TrueLies";
    margin-left: 9rem;
    color: var(--primary-color);
}

.about-us-description{
    width: 80%;
    padding: 4rem 8rem;
    display: block;
    margin: auto;
}

.release{
    width: 100%;
    background: url("https://static2.ubi.com/gamesites/rainbow6/rainbowsixsiege-bg.jpg") no-repeat center center/cover;
    text-align: center;
    align-content: center;
}

.release-content{
    display: block;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 4.5rem 3rem;
}

.release-header-text-1{
    font-family: "TrueLies";
    color: #fefefe;
}

.release-header-text-2{
    font-family: "TrueLies";
    color: var(--primary-color);
}

.release-details-container{
    padding-top: 8rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: right;
    align-content: right;
    align-items: right;
    text-align: left;
}


.achivements-block{
    position: relative;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 2px solid white;
}

.border-right{
    content : "";
    position: absolute;
    right    : 0;
    z-index: 100;
    bottom  : 0;
    width  : 2px;
    height   : 86%;  /* or 100px */
    background: #fff;
}

.border-left{
    content : "";
    position: absolute;
    left    : 0;
    z-index: 100;
    bottom  : 0;
    width  : 2px;
    height   : 86%;  /* or 100px */
    background: #fff;
}

.achivements-block-text-header{
    color:#F9786F;
    padding-bottom: 3rem;
}

.achivements-block-content{
    padding-bottom: 1.5rem;
}

.achivements-circle{
    content: counter(list);
    position: absolute;
    top: 0;
    left: -1rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    border: 2px solid #fff;
}

.achivements-circle-end{
    content: counter(list);
    position: absolute;
    top: 0;
    right: -1rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    border: 2px solid #fff;
}

.more-to-come{
    margin: 2rem 2.5rem 0px;
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.more-to-come-header{
    font-size: 3rem;
    font-weight: bold;
}

.progress-bar{
    position: relative;
    width: 100%;
    padding: 0.4rem;
    border: 3px solid #fff;
    height: 1.5rem;
}
.progress-sf{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-1%,-50%);
    width  : 75%;
    height: 0.8rem;
    background: #F9786F;
}

.details-container{
    color: #7b7b7b;
    font-family: "Open Sans";
}

.border-left-contact-us{
    content : "";
    position: absolute;
    right    : -6%;
    z-index: 100;
    bottom  : 0;
    width  : 2px;
    height: 90%;
    background: #fff;
}

.contact{
    width: 100%;
    text-align: center;
    align-content: center;
    background: url("https://static2.ubi.com/gamesites/rainbow6/rainbowsixsiege-bg.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}

.contact-content{
    width: 90%;
    display: block;
    margin: auto;
    align-items: center;
    padding: 4.5rem 3rem;
}
.contact-overlay{
    background: rgba(0,0,0,0.6);
}

.contact-header-text-1{
    font-family: "TrueLies";
    color: #fefefe;
}

.contact-header-text-2{
    font-family: "TrueLies";
    color: var(--primary-color);
}


.contact-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}


.form-content-top{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.form-content-top input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #7b7b7b;
    padding: 0.7rem;
    color: #7b7b7b;
}

.form-content-top input:focus{
    border: none;
    border-bottom: 1px solid var(--primary-color);
}


.form-content-top{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.form-content-top textarea{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #7b7b7b;
    padding: 0.7rem;
    color: #7b7b7b;
}

.form-content-top textarea:focus{
    border: none;
    border-bottom: 1px solid var(--primary-color);
}


.social-media-content{
    width: 90%;
    display: block;
    margin: auto;
    align-items: center;
    padding: 3.7rem 3rem;
}

.social-media-account{
    padding: 3rem 0 2rem;
}


.social-media-grid-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-content: center;
}

.social-media-grid-two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-content: center;
}


/*Utility*/

.btn{
    display: inline-block;
    background: #151515;
    color: #7b7b7b;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #7b7b7b;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}

.btn:hover{
    background: var(--primary-color);
    color: white;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-lg{
    font-size: 1rem;
    padding: 0.8rem 0.5rem;
    text-transform: uppercase;
}

.btn-xl{
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-icon{
    margin-left: 1rem;
}

.btn-margin-2{
    margin: 2rem 0rem;
}

.blog-btn{
    margin: 1rem  0rem;
    padding: 0.4rem 1rem;
    font-size: 0.6rem;
    color: #fefefe;
    background: rgba(0,0,0,0.3);
}

.logo{
    font-family: "True Lies" !important;
    color:#F9786F;
    padding: 0.8rem 1rem;
    border: 1px solid #F9786F;
    border-radius: 50%;
}

.padding{
    margin-left: 1rem;
}

.hidden{
    visibility: hidden;: ;
}

/*Gallery*/

.image-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 1rem 0px;
}

/* Create four equal columns that sits next to each other */
.image-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 0;
}

.image-column img {
    vertical-align: middle;
    width: 100%;
}

/*Animations*/
@keyframes bounce {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(45px);
        opacity: 0;
    }
}


@media (max-width: 1100px) {
    .video-content iframe{
        margin: 1rem 0rem;
        width: 100%;
        height: 600px;
    }

    .image-container img{
        width: 120%;
    }

    .blog-container{
        grid-template-columns: repeat(2,1fr);
    }
    .latest-news-content{
        width: 95%;
        padding: 4.5rem 1rem;
    }

    .blog-grid{
        position: relative;
        height: 20rem;
    }
}

@media (max-width: 1025px) {

    .showcase-layer-one{
        top: 39%;
    }


    .showcase-name{
        font-size: 8rem;
        padding-right: 14rem;
    }

    .showcase-name-secondary{
        font-size: 8rem;
        padding-left: 160px;
    }


    .header{
        font-size: 4rem;
    }

    .tour-header-text-1{
        font-family: "TrueLies";
        margin-left: -3rem;
        color: #fefefe;
    }

    .tour-header-text-2{
        font-family: "TrueLies";
        margin-left: 13rem;
        color: var(--primary-color);
    }


    .about-us-description{
        padding: 4rem 3rem;
    }

    .release-details-container{
        grid-template-columns: repeat(2,1fr);
    }

    .contact-grid{
        grid-template-columns: 1fr;
    }

    .border-left-contact-us{
        right    : 0;
        bottom  : -10%;
        width  : 100%;
        height: 2px;
    }

}


@media (max-width: 800px) {

.nav{
    display: none;
}
    .min-nav{
        display: inline-block;
    }
    .showcase-layer-one{
        top: 39%;
    }


    .showcase-name{
        line-height:7rem;
        font-size: 6rem;
        padding-right: 10rem;
    }

    .showcase-name-secondary{
        line-height:7rem;
        font-size: 6rem;
        padding-left: 120px;
    }


    .header{
        font-size: 3rem;
    }

    .tour-header-text-1{
        font-family: "TrueLies";
        margin-left: 2rem;
        color: #fefefe;
    }

    .tour-header-text-2{
        font-family: "TrueLies";
        margin-left: 8rem;
        color: var(--primary-color);
    }


    .about-us-description{
        padding: 4rem 3rem;
    }

    .release-content{
        width: 80%;
        padding: 4.5rem 5rem;
    }

    .release-details-container{
        grid-template-columns: 1fr;
    }

    .achivements-circle-end{
        visibility: hidden;
    }

    .achivements-block{
        padding-top: 3rem;
    }

    .achivements-circle{
        top: 3%;
    }

    .contact-grid{
        grid-template-columns: 1fr;
    }

    .border-left-contact-us{
        right    : 0;
        bottom  : -10%;
        width  : 100%;
        height: 2px;
    }
}

@media (max-width: 700px) {
    .image-container img{
        width: 100%;
    }

    .image-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .showcase-layer-one{
        top: 35%;
    }

    .showcase-layer-two{
        top: 50%;
    }

    .showcase-name{
        font-size: 7.5rem;
        letter-spacing: 1rem;
        padding: 0px 20px;
    }

    .showcase-text{
        font-size: 2rem;
    }


    .table{
        grid-template-columns: 1fr;
    }

    .tour-dates{
        width:100%;
        padding: 0rem 0rem;
    }

    .image-container{
        justify-content: center;
    }

    .release-details-container{
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .release-content{
        width: 100%;
        padding: 4.5rem 1rem;
    }

    .contact-content{
        width: 100%;
        padding: 4.5rem 2rem;
    }
}


@media (max-width: 550px) {

    .progress {
        display: none;
    }


    .showcase-layer-one{
        top: 35%;
    }

    .showcase-layer-two{
        top: 47%;
    }

    .showcase-name{
        font-size: 4.5rem;
        letter-spacing: 1rem;
        padding: 0px 20px;
    }

    .showcase-name-secondary{
        font-size: 4.5rem;
        letter-spacing: 1rem;
        padding: 0px 20px;
    }

    .tour-content{
        padding: 0rem 1rem;
    }

    .header{
        font-size: 2rem;
        text-align: left;
    }

    .tour-header-text-1{
        font-family: "TrueLies";
        margin-left: 0rem;
        color: #fefefe;
    }

    .tour-header-text-2{
        font-family: "TrueLies";
        margin-left: 0rem;
        color: var(--primary-color);
    }


    .about-us-description{
        width: 100%;
        padding: 4rem 1rem;
    }
    .release-content{
        width: 100%;
        padding: 0rem 1.3rem;
    }

    .release-details-container{
        grid-template-columns: 1fr;
    }

    .achivements-circle-end{
        visibility: hidden;
    }

    .achivements-block{
        padding-top: 3rem;
    }

    .achivements-circle{
        top: 3%;
    }

    .contact-grid{
        grid-template-columns: 1fr;
    }

    .border-left-contact-us{
        right    : 0;
        bottom  : -10%;
        width  : 100%;
        height: 2px;
    }
}


@media (max-width: 360px) {
    .showcase-layer-one{
        top: 35%;
    }

    .showcase-layer-two{
        top: 50%;
    }

    .showcase-name{
        font-size: 3.5rem;
        letter-spacing: 1rem;
        padding: 0px 20px;
    }

    .showcase-text{
        font-size: 0.5rem;
    }
}